## Ignore latex compilation files
**/*.aux
**/*.blg
**/*.dvi
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*.bbl
**/*.xml
**/thesis-blx.bib
**/thesis.run.xml
**/thesis.bcf
**/*.gz

## Ignore old ozone figures
Appendices/Old_Ozone_Figs/
